<!doctype html>
<html ng-app="thSample">
  <head>
    <script src="https://code.angularjs.org/1.4.4/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.4/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"  href="custom.css">
    <script src="app.js"></script>
    <script src="MountsController.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <div>
      <div class="container">
        <div class="row">
          <div class="jumbotron">
            <h1>Thinknetica tours!</h1>
            <p>Welcome to the world's most prominient tour company!</p>
            <button ng-click="toggleForm()" class="btn btn-success" role="button">Add tour</button>
          </div>
        </div>

        <div class="row">
          <form class="form-horizontal" ng-hide="form_hidden">
            <div class="form-group">
              <label for="inputTitle" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="tour.title">
              </div>
            </div>
            <div class="form-group">
              <label for="inputCountry" class="col-sm-2 control-label">Country</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCountry" placeholder="Country" ng-model="newTour.country">
              </div>
            </div>
            <div class="form-group">
              <label for="inputText" class="col-sm-2 control-label">Text</label>
              <div class="col-sm-10">
                <input type="textarea" class="form-control" id="inputText" placeholder="Text" ng-model="newTour.text">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPrice" class="col-sm-2 control-label">Price</label>
              <div class="col-sm-10">
                <input type="price" class="form-control" id="inputPrice" placeholder="Price" ng-model="newTour.price">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="addTour()" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <ng-view></ng-view>
        </div>
      </div>
  </body>
</html>